<nz-layout style="height: 100%">
  <nz-content>
    <nz-row class="about-container">
      <nz-col nzSpan="24">
        <h1>About Us</h1>
        <p>
          Born from the heart of a bustling body shop, Shopwriterpro was created
          to provide the ultimate solution to an industry-wide dilemma - the
          absence of an in-house writer. We recognized the unjust loss faced by
          shop owners due to the lack of one crucial resource, an issue we
          passionately sought to rectify. Acknowledging the intricate dance of
          negotiation and appraisal with insurance companies, we believed in the
          necessity of a tool to guide body shops in showcasing the correct
          repair protocol. Our estimators, boasting a diverse background in Body
          Shops across the United States, share a unified mission.
        </p>

        <h2>Our Values</h2>
        <p>
          At Shopwriterpro, we are driven by a relentless pursuit of precision.
          We appreciate the crucial nature of meticulous estimates, and champion
          the use of Original Equipment Manufacturer (OEM) procedures, which
          form the backbone of safe and correct repair techniques. Presenting an
          exact estimate to the insurance firm or customer provides a clear
          roadmap to restoring the vehicle to its OEM specifications. We hold
          dear the principles of safety, accuracy, and shop owners' tranquility,
          constantly pushing boundaries to achieve these ideals.
        </p>

        <h2>Our Technology</h2>
        <p>
          Technological innovation sits at the core of Shopwriterpro. Our team
          of estimators harness the power of the state-of-the-art CCC estimating
          technology, coupled with industry-leading software, to generate
          precise estimates or necessary supplements. The breadth of access our
          estimators enjoy, to OEM procedures tailored for each make and model
          they are estimating, sets us apart. To further elevate the accuracy,
          we employ cutting-edge Artificial Intelligence technology. This
          powerful tool, functioning as a second set of eyes, efficiently
          detects damages through photographs, ensuring that every bit of
          accident-related damage is taken into account.
        </p>
      </nz-col>
    </nz-row>
  </nz-content>
</nz-layout>

<ng-template #avatarTemplate>
  <nz-avatar [nzIcon]="'assets/images/logo.png'" [nzText]="'Icon'"> </nz-avatar>
</ng-template>
