<nz-layout style="height:100%">
  <nz-content>
    <nz-row class="about-container">
      <nz-col nzSpan="24">
        <h1>About Us</h1>
        <p>
          Shop Writer Pro is a tech-enabled company that simplifies vehicle claims
          and cost estimates. Our mission is to make vehicle claims
          straightforward and transparent for all parties involved.
        </p>

        <h2>Our Values</h2>
        <p>
          We're dedicated to transparency, efficiency, and innovation in the
          vehicle claims industry. We value customer service and strive to
          provide the best experience for all our users.
        </p>

        <h2>Our Technology</h2>
        <p>
          Our frontend is built with Angular, leveraging the power of
          ng-zorro-antd library among others. This enables us to deliver a
          responsive and intuitive user experience.
        </p>
      </nz-col>
    </nz-row>
  </nz-content>
</nz-layout>

<ng-template #avatarTemplate>
  <nz-avatar
  [nzIcon]="'assets/images/logo.png'"
  [nzText]="'Icon'"
  > </nz-avatar>
</ng-template>
