<swp-breadcrumb [breadcrumbs]="breadcrumbs"></swp-breadcrumb>
<nz-row class="__first-row">
  <nz-col class="open-orders" nzSpan="24">
    <swp-profile-card
      [loading$]="loading$"
      [user]="userProfile"
      (userUpdated)="handleUserInfoUpdated($event)"
    ></swp-profile-card>
  </nz-col>
</nz-row>
<nz-row class="__first-row">
  <nz-col class="open-orders" nzSpan="24">
    <swp-table-card
      [data$]="data$"
      [cardTitle]="'All Transactions'"
      [isLoading$]="dataLoading$"
      [noResultRef]="(dataLoading$ | async) ? null : 'No results'"
      [pageLimit]="tableLimit"
      [rules]="profileRole$ | async"
      [loadingIndicatorRef]="loadingIndicator"
      (ticketUpdated)="handleTicketUpdated($event)"
    ></swp-table-card>
  </nz-col>
</nz-row>
<ng-template #loadingIndicator>
  <span style="font-size: xxx-large" nz-icon nzType="loading"></span>
</ng-template>
