<nz-row class="breadcrumb-row">
  <nz-col nzSpan="24">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['../../../dashboard/home']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Profile Transactions</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-col>
</nz-row>
<nz-row class="__first-row">
  <nz-col class="open-orders" nzSpan="24">
    <swp-profile-card [loading$]="loading$" [user$]="userProfile$"></swp-profile-card>
  </nz-col>
</nz-row>
<nz-row class="__first-row">
  <nz-col class="open-orders" nzSpan="24">
    <swp-table-card
      [data$]="data$"
      [cardTitle]="'All Transactions'"
      [isLoading$]="dataLoading$"
      [noResultRef]="(dataLoading$ | async) ? null : 'No results'"
      [pageLimit]="tableLimit"
      [rules]="profileRole$ | async"
      [loadingIndicatorRef]="loadingIndicator"
    ></swp-table-card>
  </nz-col>
</nz-row>
<ng-template #nzModalContent>
  <!-- <swp-ticket-viewer
    class="ticket-viewer"
    [ticket]="selectedTicket"
    (ticketSubmitted)="loadData()"
  ></swp-ticket-viewer> -->
</ng-template>
<ng-template #loadingIndicator>
  <span style="font-size: xxx-large" nz-icon nzType="loading"></span>
</ng-template>
