<div class="bg-gray-100 p-8 rounded-lg max-w-md mx-auto mt-10">
  <!-- Email Form -->
  <div *ngIf="!isPasswordResetRequested">
    <form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmit()">
      <div class="mb-5">
        <label
          class="block text-sm font-semibold text-gray-600 mb-2"
          for="email"
          >Email</label
        >
        <input
          type="email"
          id="email"
          formControlName="email"
          placeholder="Enter your email"
          class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="flex justify-end">
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-lg focus:ring-4 focus:ring-blue-300 focus:outline-none"
        >
          Send Reset Link
        </button>
      </div>
    </form>
  </div>

  <!-- Reset Form -->
  <div *ngIf="isPasswordResetRequested">
    <form [formGroup]="resetForm" (ngSubmit)="onResetFormSubmit()">
      <div class="mb-5">
        <label
          class="block text-sm font-semibold text-gray-600 mb-2"
          for="resetCode"
          >Reset Code</label
        >
        <input
          type="text"
          id="resetCode"
          formControlName="code"
          placeholder="Enter the reset code"
          class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-5">
        <label
          class="block text-sm font-semibold text-gray-600 mb-2"
          for="newPassword"
          >New Password</label
        >
        <input
          type="password"
          id="newPassword"
          formControlName="password"
          placeholder="Enter your new password"
          class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="mb-5">
        <label
          class="block text-sm font-semibold text-gray-600 mb-2"
          for="confirmPassword"
          >Confirm New Password</label
        >
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm your new password"
          class="w-full px-4 py-2 border rounded-lg text-gray-700 focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="flex justify-end">
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-lg focus:ring-4 focus:ring-blue-300 focus:outline-none"
        >
          Reset Password
        </button>
      </div>
    </form>
  </div>
</div>
