::ng-deep .ant-form {
    width: 90vw;
    max-width: 500px;
}

.action-buttons {
    display: block;
    justify-content: space-evenly;

    .action-buttons-1 {
        display: flex;
        justify-content: space-evenly;
    }

    .action-buttons-2 {
        display: grid;
        justify-content: space-evenly;
        margin-top: 0.25rem;
        margin-bottom: 2rem;

        ::ng-deep .ant-btn {
            width: 90vw;
            max-width: 500px;
            height: 3rem;
            margin: 0.25rem;
        }
    }
}
