<nz-layout class="bg-gray-100 min-h-screen">
  <nz-content style="padding-bottom:0 !important;" class="max-w-5xl mx-auto p-8 md:p-6 sm:p-4 bg-white shadow-lg rounded-lg">
    <nz-row>
      <nz-col nzSpan="24" class="text-center mb-12">
        <h1 class="text-4xl font-semibold text-gray-800">Pricing</h1>
      </nz-col>
      <nz-col nzSpan="24">
        <swp-pricing-table></swp-pricing-table>
      </nz-col>
    </nz-row>
    <swp-faq-viewer class="mt-12"></swp-faq-viewer>
  </nz-content>
</nz-layout>
