<nz-layout>
  <nz-content>
    <nz-row class="app-hero-wrapper">
      <nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24">
        <div class="hero-banner-overlay"></div>
        <div class="hero-banner-content">
          <div class="hero-banner-text-container">
            <h1 class="hero-banner-title">Estimates Made Easy</h1>
            <p class="hero-banner-description">
              At Shop Writer Pro, we offer an excellent alternative to paying the
              salary of an in-house estimator at your collision shop. With our
              licensed and experienced team of adjusters, we provide accurate
              and beneficial estimates for bodyshops to maximize their profits
              and customer satisfaction when dealing with insurance companies.
              Have your estimates written more efficiently, accurate, and cost
              effective with no appointment needed.
            </p>
            <swp-button
              class="hero-banner-button"
              [routerLink]="['/auth/login']"
              [nzSize]="'large'"
              [nzType]="'primary'"
              [content]="'Log In'"
            ></swp-button>
            <swp-button
              class="hero-banner-button"
              (click)="onLearnMoreClick()"
              [nzSize]="'large'"
              [content]="'Pricing'"
            ></swp-button>
          </div>
        </div>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="16" class="card-container">
      <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6">
        <swp-card
          [title]="'Enter VIN'"
          [photo]="'../../assets/images/barcode-icon.png'"
          [description]="
            'Enter the VIN number of your vehicle to help us accurately diagnose any issues.'
          "
        >
        </swp-card>
      </nz-col>
      <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6">
        <swp-card
          [title]="'Describe Issues'"
          [photo]="'../../assets/images/notepad-icon.png'"
          [description]="
            'Describe the issues you are experiencing in detail to help us better understand the problem.'
          "
        >
        </swp-card>
      </nz-col>
      <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6">
        <swp-card
          [title]="'Submit Photos'"
          [photo]="'../../assets/images/upload-icon.png'"
          [description]="
            'Easily submit photos of any issues you are experiencing with your vehicle.'
          "
        >
        </swp-card>
      </nz-col>
      <nz-col [nzXs]="24" [nzSm]="12" [nzMd]="6" [nzLg]="6" [nzXl]="6">
        <swp-card
          [title]="'Make Payment'"
          [photo]="'../../assets/images/payment-icon.png'"
          [description]="
            'Easily make a payment to finalize the submission of your ticket.'
          "
        >
        </swp-card>
      </nz-col>
    </nz-row>
    <nz-row nzGutter="24">
      <nz-col class="two-col-section" nzSpan="24" nzLg="12">
        <div class="left-text">
          <h2>No More Hassle</h2>
          <h3>
            Oftentimes, writing up estimate sheets for incoming damaged cars can
            become very tedious.
          </h3>
          <p>
            If done incorrectly, insurance companies will reward you less money,
            especially with only an insurance adjuster appraising the car, who's
            job is to assess the car in an attempt to reward as little money as
            possible (often at the risk of labor profits).
          </p>
          <p>
            If you’re constantly struggling with organizing public adjuster
            visits, paying over priced freelance writers, or worried about your
            employees spending time on write ups rather than working on cars
            then Shop Writer Pro is for you!
          </p>
        </div>
      </nz-col>
      <nz-col class="two-col-section" nzSpan="24" nzLg="12">
        <div class="right-image">
          <img
            src="../../assets/images/content1.png"
            alt="Fast Estimates With Shop Writer Pro"
          />
        </div>
      </nz-col>
    </nz-row>
  </nz-content>
</nz-layout>
