<nz-layout class="user-profile__container">
  <nz-content class="user-profile__content">
    <div class="user-profile">
      <div *ngIf="user$ | async as user" class="avatar-container">
        <nz-avatar
          class="avatar-image"
          nzSize="large"
          [nzSrc]="user['custom:avatarUrl']"
          *ngIf="!editing"
        ></nz-avatar>
        <div *ngIf="editing">
          <span
            class="upload-icon"
            nz-icon
            [nzType]="(loading$ | async) ? 'loading' : null"
          ></span>
          <nz-upload
            [nzAction]="'https://jsonplaceholder.typicode.com/posts/'"
            nzListType="picture-card"
            [(nzFileList)]="fileList"
            [nzMultiple]="false"
            [nzCustomRequest]="customReq"
            (nzChange)="handleChange($event)"
            nzLimit="1"
            [nzPreview]="null"
            (nzFileListChange)="handleFileListChange($event)"
          >
            <i nz-icon nzType="plus"></i>
            <div class="ant-upload-text">Upload</div>
          </nz-upload>
        </div>
      </div>
      <div *ngIf="user$ | async as user" class="user-details">
        <div *ngIf="!editing">
          <h3
            #nameEl
            class="truncate"
            nz-tooltip
            [nzTooltipTitle]="isTextTruncated ? user['name'] : null"
          >
            {{ user["name"] }}
          </h3>
          <p
            #emailEl
            class="truncate"
            nz-tooltip
            [nzTooltipTitle]="isTextTruncated ? user['email'] : null"
          >
            {{ user["email"] }}
          </p>
          <p
            #phoneNumberEl
            class="truncate"
            nz-tooltip
            [nzTooltipTitle]="isTextTruncated ? user['phone_number'] : null"
          >
            {{ user["phone_number"] }}
          </p>
          <p
            #companyNameEl
            class="truncate"
            nz-tooltip
            [nzTooltipTitle]="
              isTextTruncated ? user['custom:companyName'] : null
            "
          >
            {{ user["custom:companyName"] }}
          </p>
          <p
            #addressEl
            class="truncate"
            nz-tooltip
            [nzTooltipTitle]="isTextTruncated ? user['address'] : null"
          >
            {{ user["address"] }}
          </p>
        </div>
        <div class="profile-form-edit">
          <form nz-form *ngIf="editing" [formGroup]="userForm">
            <nz-form-label>Name:</nz-form-label
            ><input nz-input formControlName="name" />
            <nz-form-label>Email:</nz-form-label
            ><input nz-input formControlName="email" />
            <nz-form-label>Phone:</nz-form-label
            ><input nz-input formControlName="phone_number" />
            <nz-form-label>Company:</nz-form-label
            ><input nz-input formControlName="custom:companyName" />
            <nz-form-label>Address:</nz-form-label
            ><input nz-input formControlName="address" />
            <input nz-input formControlName="custom:avatarUrl" hidden="true" />
          </form>
        </div>
      </div>
      <div
        style="display: flex; justify-content: space-between"
        class="control-buttons"
      >
        <div class="edit-btn">
          <button
            nz-button
            (click)="toggleEdit()"
            [nzType]="editing ? 'default' : 'primary'"
          >
            {{ editing ? "Cancel" : "Edit" }}
          </button>
        </div>
        <div *ngIf="editing" class="edit-btn">
          <button
            nz-button
            nzType="primary"
            (click)="saveUserDetails()"
            [nzLoading]="loading$ | async"
            [disabled]="!userForm.valid && userForm.untouched"
          >
            Save
          </button>
        </div>
      </div>
    </div>
  </nz-content>
</nz-layout>
