.slide-heading {
  text-align: center;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 10px;
}

.slide-heading span {
  font-size: 16px;
  color: #1890ff;
}

.slide-heading h1 {
  font-size: 24px;
  margin: 10px 0;
}

.slide-heading h4 {
  font-size: 18px;
  color: #333;
}

.success-circle {
  font-size: 10rem !important;
}
