<app-navbar></app-navbar>
<nz-layout class="ticketing-wrapper">

    <nz-row nzJustify="center">
        <div nz-col style="min-width: 60vw;" nzXs="20" nzSm="20" nzMd="16" nzLg="12" nzXl="8" nzXXl="4">
          <div class="container" >

                <nz-progress
                class=""
                [nzShowInfo]="false"
                [nzPercent]="((currentStep / 5) * 100) + 5 - ((1/5 * 100))"
              ></nz-progress>
              <nz-steps [nzStatus]="'process'" [nzCurrent]="currentStep - 1">

                <nz-step></nz-step>
                <nz-step></nz-step>
                <nz-step></nz-step>
                <nz-step></nz-step>
                <nz-step></nz-step>
              </nz-steps>



      
            <nz-form style="height: 100vh" [formGroup]="forms">
              <div class="steps-content">
                <div class="step-content-wrapper" formGroupName="step1" *ngIf="currentStep === 1">
                    <span>Choose your plan</span>
                    <h1>What Plan Do You Need?</h1>
                  <nz-form-item>
                    <nz-radio-group nz-input formControlName="plan" class="plan-group">
                      <nz-row nzJustify="center" nzAlign="middle">
                        <nz-col class="plan-option-row" nzSpan="24">
                          <label nz-radio nzValue="plan1" class="plan-option">
                            <img src="../../../assets/images/barcode-icon.png" class="plan-image">
                            <div class="plan-description">
                              Plan 1 Description
                            </div>
                          </label>
                          <label nz-radio nzValue="plan2" class="plan-option">
                            <img src="../../../assets/images/barcode-icon.png" class="plan-image">
                            <div class="plan-description">
                              Plan 2 Description
                            </div>
                          </label>
                        </nz-col>
                        <nz-col class="plan-option-row" nzSpan="24">
                          <label nz-radio nzValue="plan3" class="plan-option">
                            <img src="../../../assets/images/barcode-icon.png" class="plan-image">
                            <div class="plan-description">
                              Plan 3 Description
                            </div>
                          </label>
                          <label nz-radio nzValue="plan4" class="plan-option">
                            <img src="../../../assets/images/barcode-icon.png" class="plan-image">
                            <div class="plan-description">
                              Plan 4 Description
                            </div>
                          </label>
                        </nz-col>
                      </nz-row>
                      </nz-radio-group>
                  </nz-form-item>
    
                </div>
      
                <div class="step-content-wrapper" formGroupName="step2" *ngIf="currentStep === 2">
                    <div class="step-content-header">
                        <span>Vehicle Details</span>
                        <h1>Let's Get Started</h1>
                        <h4>Please fill in the details below to get started.</h4>
                    </div>
                    <div class="form-wrapper">
                        <div class="form-inner">
                            <nz-form-item>
                                <nz-form-control>
                                    <p>Please Enter The Vehicle Identification Number (V.I.N)</p>
                                  <input nz-input placeholder="eg: 2JK42JK57KFW9" formControlName="vin" type="text" />
                                  <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                                </nz-form-control>
                              </nz-form-item>

                              <nz-form-item>
                                <nz-form-control>
                                    <p>Please Enter The Vehicle Year</p>
                                  <input nz-input placeholder="eg: 2001" formControlName="year" type="text" />
                                  <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                                </nz-form-control>
                              </nz-form-item>
                  
                              <nz-form-item>
                                <nz-form-control>
                                    <p>Please Enter The Vehicle Make</p>
                                  <input nz-input placeholder="eg: FORD" formControlName="make" type="text" />
                                  <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                                </nz-form-control>
                              </nz-form-item>

                              <nz-form-item>
                                <nz-form-control>
                                    <p>Please Enter The Vehicle Model</p>
                                  <input nz-input placeholder="eg: MUSTANG" formControlName="model" type="text" />
                                  <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                                </nz-form-control>
                              </nz-form-item>

                              <nz-form-item>
                                <nz-form-control>
                                    <p>Please Enter The Vehicle Mileage</p>
                                  <input nz-input placeholder="eg: 100,000" formControlName="mileage" type="text" />
                                  <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                                </nz-form-control>
                              </nz-form-item>
                        </div>
                    </div>
                </div>
      
                <div class="step-content-wrapper" formGroupName="step3" *ngIf="currentStep === 3">
                    <div class="step-content-header">
                        <span>Vehicle Details</span>
                        <h1>A Few More Steps</h1>
                        <h4>Just a few more details about your vehicle are needed...</h4>
                    </div>
                    <div class="form-wrapper">
                        <div class="form-inner">


                              <nz-form-item>
                                <nz-form-control>
                                    <p>Please Describe The Vehicle's Damage</p>
                                  <textarea nz-input formControlName="damage" type="text" ></textarea>
                                  <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                                </nz-form-control>
                              </nz-form-item>
                        </div>
                    </div>
                </div>

                <div class="step-content-wrapper" formGroupName="step4" *ngIf="currentStep === 4">
                    <div class="step-content-header">
                        <span>Vehicle Details</span>
                        <h1>Upload Images</h1>
                        <h4>Please attach images of the damage to the vehicle.</h4>
                    </div>
                    <div class="form-wrapper">
                        <div class="form-inner">


                              <nz-form-item>
                                <nz-form-control>
                                    <nz-upload

                                    formControlName="imageUpload"
                                    nzType="drag"
                                    [nzMultiple]="true"
                                    nzAction=""
                                    (nzChange)="handleChange($event)"
                                  >
                                    <p class="ant-upload-drag-icon">
                                      <span nz-icon nzType="inbox"></span>
                                    </p>
                                    <p class="ant-upload-text">Click or drag file to this area to upload</p>
                                    <p class="ant-upload-hint">
                                      Support for a single or bulk upload. Strictly prohibit from uploading company data or other band files
                                    </p>
                                  </nz-upload>
                                  <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                                </nz-form-control>
                              </nz-form-item>
                        </div>
                    </div>
                </div>
              </div>
              <div class="steps-action">
                <swp-button content="Previous" [disabled]="currentStep === 1" nz-button (click)="prevStep()">
                </swp-button>
                <swp-button content="Next" [disabled]="!isStepValid()" nz-button (click)="nextStep()">
                </swp-button>
              </div>
            </nz-form>
          </div>
        </div>
    </nz-row>
      




</nz-layout>
