<nz-layout>
  <nz-content class="authentication-container">
    <nz-row class="authentication-wrapper" nzJustify="center" nzAlign="middle" nzGutter="5">
      <nz-col class="authentication-modal" nzSpan="24">
        <nz-row nzJustify="center" nzAlign="middle">
          <nz-col class="authentication-modal" nzSpan="24">
            <img class="logo" src="../../../assets/images/logo.png" />
            <router-outlet>
            </router-outlet>
          </nz-col>
        </nz-row>
      </nz-col>
    </nz-row>
  </nz-content>
</nz-layout>
