::ng-deep {
  .header {
    display: flex;
    align-items: stretch; /* Ensure items take the full height */
    background-color: white;
    padding: 0 16px;

    .left,
    .center,
    .right {
      display: flex;
      align-items: center;
    }

    .left {
      justify-content: flex-start;

      .menu-button {
        display: none; /* Hide by default */
      }
    }

    .center {
      flex-grow: 1;
      justify-content: center;
    }

    .right {
      justify-content: flex-end;
    }

    ::ng-deep
      .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-item-active::after,
    ::ng-deep
      .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-item-open::after,
    ::ng-deep
      .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-item-selected::after,
    ::ng-deep
      .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-item:hover::after,
    ::ng-deep
      .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-submenu-active::after,
    ::ng-deep
      .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-submenu-open::after,
    ::ng-deep
      .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-submenu-selected::after,
    ::ng-deep
      .ant-menu-horizontal:not(.ant-menu-dark)
      > .ant-menu-submenu:hover::after {
      content: none;
    }

    ::ng-deep .navigation-menu-list li a {
      display: flex;
      align-items: center;
    }

    ::ng-deep .navigation-menu-list li a span {
      margin-right: 8px;
    }
  }

  /* Show menu button on small screens */
  @media (max-width: 767px) {
    .header .left .menu-button {
      display: block;
    }

    .header .center,
    .header .right {
      display: none;
    }
    .header .left {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .header .left .menu-button {
      order: 2;
    }
  }
}
