::ng-deep .anticon {
  font-size: 1rem;
  padding: 0.2rem;
}

::ng-deep {
  .navigation-menu-list li:last-child {
    margin-top: 100%;
  }
  .ant-menu-light .ant-menu-sub,
  .ant-menu.ant-menu-light,
  .ant-menu.ant-menu-light .ant-menu-sub {
    span > svg {
      font-size: 25px;
    }
  }
  .ant-menu-inline .ant-menu-item-selected::after,
  .ant-menu-inline .ant-menu-selected::after {
    display: none;
  }
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border: none;
  }
  .ant-drawer-close {
    color: black !important;
  }

  .__menu-button {
    margin-right: 2rem;

    ::ng-deep span {
      font-size: x-large;
      border: 1px solid #f0f2f5;
    }
    span:hover {
      border: 1px solid black;
    }
  }

  ::ng-deep .ant-menu-item {
    padding-left: 0.75rem !important;

    svg {
      position: relative;
      top: 0.3rem;
    }
  }
}

::ng-deep .ant-layout-header {
  background: #fff;
  padding: 0;
}
