<!-- Breadcrumbs -->
<swp-breadcrumb [breadcrumbs]="breadcrumbs"></swp-breadcrumb>

<!-- First Row -->
<div class="px-4 py-2">
  <div class="bg-white shadow rounded-lg p-4">
    <swp-table-card
      [data$]="openOrders$"
      [cardTitle]="'All Transactions'"
      [isLoading$]="dataLoading$"
      [pageLimit]="openOrderTableLimit"
      [rules]="userSession.role"
      (ticketUpdated)="handleTicketUpdated($event)"
    ></swp-table-card>
  </div>
</div>

<!-- Modal Content -->
<ng-template #nzModalContent>
  <swp-ticket-viewer
    class="ticket-viewer"
    [ticket]="selectedTicket"
    (ticketSubmitted)="loadData()"
  ></swp-ticket-viewer>
</ng-template>
