<div class="my-4 p-6 lg:my-2 border rounded-lg shadow-md">
  <h1 class="mb-4 text-xl font-semibold">Our Location</h1>
  <div class="contact-info space-y-2">
    <p class="flex items-center">
      <i class="mr-2 text-blue-600" nz-icon nzType="phone" nzTheme="outline"></i>
      Phone: 347-563-7568
    </p>
    <p class="flex items-center">
      <i class="mr-2 text-blue-600" nz-icon nzType="mail" nzTheme="outline"></i>
      Email: service@shopwriterpro.com
    </p>
    <p class="flex items-center">
      <i class="mr-2 text-blue-600" nz-icon nzType="global" nzTheme="outline"></i>
      Website: www.shopwriterpro.com
    </p>
  </div>
</div>
