/* Add these styles in your Tailwind CSS configuration or global styles */
.table-card {
  @apply p-2;
}

.table-card__table {
  @apply min-w-full overflow-x-auto;
}

.cell-content {
  @apply min-w-full overflow-hidden overflow-ellipsis whitespace-nowrap;
}

.assignment_tag {
  @apply py-1 px-2;
}

::ng-deep {
  .table-card__container {
    div.ant-spin-container {
      min-width: 100% !important;
    }
  }
}

@media (min-width: 800px) {
  .table-card__mobile {
    display: none;
  }
}

@media (max-width: 800px) {
  .table-card {
    display: none;
  }
}
