<!-- The first card DESKTOP VIEW -->
<nz-card *ngIf="!assignmentTable" class="table-card" [nzTitle]="cardTitle">
  <div class="overflow-x-auto min-w-[100%]">
    <nz-spin
      class="flex justify-center items-center table-card__container"
      [nzSpinning]="isLoading$ | async"
      [nzIndicator]="loadingIndicator"
    >
      <nz-table
        #filterTable
        class="min-w-full"
        [nzLoading]="isLoading$ | async"
        [nzLoadingIndicator]="loadingIndicator"
        [nzPageIndex]="pageIndex"
        [nzTotal]="(data$ | async)?.length"
        [nzNoResult]="noResultRef"
        (nzPageIndexChange)="handlePageChange($event)"
        [nzPageSize]="pageLimit"
        [nzData]="data$ | async"
      >
        <thead>
          <tr>
            <th
              [nzColumnKey]="item?.key"
              [nzFilterFn]="item?.nzFilterFn"
              [nzFilters]="item?.nzFilters"
              [nzSortFn]="item?.sortFn"
              *ngFor="let item of tableHeadersDefault"
              class="py-2 px-3 text-left"
            >
              {{ item.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filterTable?.data">
            <td class="py-2 px-3">{{ item.date | date: "MMM, dd. yyyy." }}</td>
            <td class="py-2 px-3">
              <nz-tag
                class="rounded-full"
                [nzColor]="getTicketStatusPillColor(item.status)"
              >
                {{ item.status }}
              </nz-tag>
            </td>
            <td class="py-2 px-3">{{ item.vin }}</td>
            <td class="py-2 px-3">{{ item.model }}</td>
            <td class="py-2 px-3">
              <a
                (click)="viewTableRow(item)"
                class="text-blue-500 hover:underline"
                >View</a
              >
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-spin>
  </div>
</nz-card>

<!-- The second card DESKTOP VIEW -->
<nz-card *ngIf="assignmentTable" class="table-card" [nzTitle]="cardTitle">
  <div class="overflow-x-auto">
    <div>
      <nz-spin
        class="flex justify-center items-center table-card__container"
        [nzSpinning]="isLoading$ | async"
        [nzIndicator]="loadingIndicator"
      >
        <nz-table
          #filterTable
          class="min-w-full"
          [nzLoading]="isLoading$ | async"
          [nzLoadingIndicator]="loadingIndicator"
          [nzPageIndex]="pageIndex"
          [nzTotal]="(data$ | async)?.length"
          [nzNoResult]="noResultRef"
          (nzPageIndexChange)="handlePageChange($event)"
          [nzPageSize]="pageLimit"
          [nzData]="data$ | async"
        >
          <thead>
            <tr>
              <th
                [nzColumnKey]="item?.key"
                [nzFilterFn]="item?.nzFilterFn"
                [nzFilters]="item?.nzFilters"
                [nzSortFn]="item?.sortFn"
                *ngFor="let item of tableHeadersAdmin"
                class="py-2 px-3 text-left"
              >
                {{ item.title }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterTable?.data">
              <td class="py-2 px-3">
                {{ item.date | date: "MMM, dd. yyyy." }}
              </td>
              <td class="py-2 px-3">
                <nz-tag
                  class="rounded-full"
                  [nzColor]="getTicketStatusPillColor(item.status)"
                >
                  {{ item?.ticket?.status }}
                </nz-tag>
              </td>
              <td class="py-2 px-3">
                <nz-tag
                  (click)="handleAssignedToClick(item.ticket.assignedTo)"
                  class="assignment_tag rounded-full text-white"
                  [nzColor]="'#00000073'"
                >
                  {{ item.ticket.assignedTo }}
                </nz-tag>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-spin>
    </div>
  </div>
</nz-card>

<!-- FIRST CARD Block Format UI for Mobile Screens -->
<nz-card
  *ngIf="!assignmentTable"
  [nzTitle]="cardTitle"
  class="table-card__mobile min-h-[20rem] mt-4 p-4"
>
  <div class="overflow-x-auto min-h-[20rem] overflow-y-hidden">
    <nz-spin
      class="flex justify-center min-h-[20rem] items-center spinner-mobile table-card__container"
      [nzSpinning]="isLoading$ | async"
      [nzIndicator]="loadingIndicator"
    >
      <div
        *ngIf="!pagedData?.length && (isLoading$ | async) === false"
        class="empty-state flex flex-col justify-center items-center min-h-[30rem]"
      >
        <span
          nz-icon
          nzType="folder-open"
          nzTheme="outline"
          class="text-gray-400 [&>*]:text-6xl mb-4"
        ></span>
        <h3 class="text-xl font-semibold text-gray-700 mb-2">
          No Data Available
        </h3>
        <p class="text-gray-500 mb-4">We couldn't find any results.</p>
      </div>
      <div
        *ngFor="let item of pagedData"
        class="block-card mb-6 p-5 bg-white rounded-lg border border-slate-200 transition-shadow hover:shadow-xl cursor-pointer"
        (click)="viewTableRow(item)"
      >
        <div class="block-card__date text-xs font-light text-gray-500 mb-2">
          Date:
          <span class="ml-1 text-gray-800 font-semibold">
            {{ item.date | date: "MMM, dd. yyyy." }}
          </span>
        </div>
        <div class="block-card__model text-xs mb-2 font-light text-gray-500">
          Model:
          <span class="ml-1 text-gray-800 font-semibold">
            {{ item.model }}
          </span>
        </div>
        <div class="block-card__status text-xs font-light text-gray-500">
          Status:
          <nz-tag
            class="rounded-full inline-block"
            [nzColor]="getTicketStatusPillColor(item.status)"
          >
            {{ item?.status }}
          </nz-tag>
        </div>
      </div>

      <!-- Pagination for Mobile -->
      <nz-pagination
        [nzPageIndex]="pageIndex"
        [nzTotal]="(data$ | async)?.length"
        [nzPageSize]="pageLimit"
        (nzPageIndexChange)="handlePageChange($event)"
        class="mt-4 flex flex-auto justify-center align-center"
      ></nz-pagination>
    </nz-spin>
  </div>
</nz-card>

<!-- SECOND CARD Block Format UI for Mobile Screens -->
<nz-card
  *ngIf="assignmentTable"
  [nzTitle]="cardTitle"
  class="table-card__mobile min-h-[40rem] mt-4 p-4"
>
  <div class="overflow-x-auto min-h-[40rem] overflow-y-hidden">
    <nz-spin
      class="flex justify-center min-h-[40rem] items-center table-card__container"
      [nzSpinning]="isLoading$ | async"
      [nzIndicator]="loadingIndicator"
    >
      <div
        *ngIf="!pagedData?.length && (isLoading$ | async) === false"
        class="empty-state flex flex-col justify-center items-center min-h-[30rem]"
      >
        <span
          nz-icon
          nzType="folder-open"
          nzTheme="outline"
          class="text-gray-400 [&>*]:text-6xl mb-4"
        ></span>
        <h3 class="text-xl font-semibold text-gray-700 mb-2">
          No Data Available
        </h3>
        <p class="text-gray-500 mb-4">We couldn't find any results.</p>
      </div>
      <div
        *ngFor="let item of pagedData"
        class="block-card mb-6 p-5 bg-white rounded-lg border border-slate-200 transition-shadow hover:shadow-xl cursor-pointer"
        (click)="handleAssignedToClick(item.ticket.assignedTo)"
      >
        <div class="block-card__date text-sm text-gray-500 mb-1">
          Date:
          <span class="font-medium">{{
            item.date | date: "MMM, dd. yyyy."
          }}</span>
        </div>
        <div class="block-card__status text-sm text-gray-500">
          Status:
          <nz-tag
            class="rounded-full inline-block"
            [nzColor]="getTicketStatusPillColor(item.status)"
          >
            {{ item?.ticket?.status }}
          </nz-tag>
        </div>
      </div>

      <!-- Pagination for Mobile -->
      <nz-pagination
        [nzPageIndex]="pageIndex"
        [nzTotal]="(data$ | async)?.length"
        [nzPageSize]="pageLimit"
        (nzPageIndexChange)="handlePageChange($event)"
        class="mt-4 flex flex-auto justify-center align-center"
      ></nz-pagination>
    </nz-spin>
  </div>
</nz-card>

<!-- The modal template -->
<ng-template #viewTicketModal>
  <swp-ticket-viewer
    (ticketUpdated)="handleUpdateTicket($event)"
    [rules]="rules"
    [ticket]="selectedItem"
  ></swp-ticket-viewer>
</ng-template>

<ng-template #loadingIndicator>
  <swp-spinner-template></swp-spinner-template>
</ng-template>
