.card-center {
  display: block;
  align-items: center;
}

.card-image {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  max-width: 120;
  max-height: 120px;
  color: black;
}

::ng-deep {
  .ant-card-head-title {
    text-align: center;
  }
}
