.dashboard-home {
  & .__first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    .open-orders {
      & .__card {
        ::ng-deep .ant-card-body {
          padding: 0.5rem;
        }

        ::ng-deep .ant-table tfoot > tr > td,
        .ant-table tfoot > tr > th,
        .ant-table-tbody > tr > td,
        .ant-table-thead > tr > th {
          padding: 4px;
        }
      }
    }

    ::ng-deep .ant-table {
      font-size: .8rem;
    }

    ::ng-deep .ant-table-content {
      min-height: 10rem;
    }

    & .__control-card {
      margin-bottom: 1rem;
    }

    & .__submit-ticket-card:hover {
      border-width: 2px;
      border-color: black;
    }

    & .__submit-ticket-card {
      background-color: #d9d9d9;
      border-radius: 10px;
      border-width: 2px;
      border-color: rgba(255, 255, 255, 0);
      cursor: pointer;

      & .__content {
        display: flex;
        justify-content: center;

        ::ng-deep span > svg {
          font-size: 22px;
          position: relative;
          top: 0.1rem;
          left: 0.25rem;
        }
      }
    }
  }
  .ticketing-modal {
    ::ng-deep .ant-modal-content {
      background-color: black;
    }
  }
}


.table-responsive {
  overflow-x: auto;
}

@media (max-width: 767px) {
  .table-responsive {
    -webkit-overflow-scrolling: touch;
  }

}
