<h2 *ngIf="userName$ | async as userName">Welcome, {{ userName }}</h2>
<div *ngIf="tickets$ | async" class="dashboard-home">
  <nz-row class="__first-row">
    <nz-col class="open-orders" nzSpan="16">
      <nz-card class="__card" [nzTitle]="'Open Orders'">
        <nz-table
          [nzLoading]="dataLoading$ | async"
          [nzLoadingIndicator]="loadingIndicator"
          [nzPageIndex]="openOrderPageIndex"
          [nzTotal]="openOrders?.length"
          [nzNoResult]="(dataLoading$ | async) ? null : 'No results'"
          (nzPageIndexChange)="handleOpenOrderPageChange($event)"
          [nzPageSize]="openOrderTableLimit"
          [nzData]="openOrders"
        >
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>VIN</th>
              <th>Model</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of openOrderPagedData">
              <td>{{ item.date | date : "MMM, dd. yyyy." }}</td>
              <td>
                <nz-tag
                  style="border-radius: 0.8rem"
                  [nzColor]="
                    item.status === 'processing' ? 'processing' : 'warning'
                  "
                  >{{ item.status }}</nz-tag
                >
              </td>
              <td>{{ item.vin }}</td>
              <td>{{ item.model }}</td>
              <td>
                <a (click)="handleViewTicket(item)">View</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-col>
    <nz-col nzSpan="7">
      <div>
        <nz-card
          (click)="handleSubmitTicketClicked()"
          class="__submit-ticket-card __control-card"
        >
          <h2 class="__content">
            Submit a Ticket<span nz-icon nzType="plus"></span>
          </h2>
        </nz-card>
        <nz-card
          routerLink="../transactions"
          class="__submit-ticket-card __control-card"
        >
          <h2 class="__content">
            View Transactions<span nz-icon nzType="unordered-list"></span>
          </h2>
        </nz-card>
        <nz-card class="__submit-ticket-card __control-card">
          <h2 class="__content">
            View Profile<span nz-icon nzType="user"></span>
          </h2>
        </nz-card>
      </div>
    </nz-col>
  </nz-row>
  <nz-row class="__second-row">
    <nz-col nzSpan="24">
      <nz-card class="__card" [nzTitle]="'Recent Orders'">
        <nz-table
          #basicTable
          [nzPageIndex]="recentOrderPageIndex"
          (nzPageIndexChange)="handleRecentOrderPageChange($event)"
          [nzLoading]="dataLoading$ | async"
          [nzLoadingIndicator]="loadingIndicator"
          [nzPageSize]="recentOrderTableLimit"
          [nzNoResult]="(dataLoading$ | async) ? null : 'No results'"
          [nzData]="recentOrders"
        >
          <thead>
            <tr>
              <th>Date</th>
              <th>Status</th>
              <th>VIN</th>
              <th>Model</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of recentOrderPagedData">
              <td>{{ item.date | date : "MMM, dd. yyyy." }}</td>
              <td>
                <nz-tag style="border-radius: 0.8rem" [nzColor]="'success'">
                  {{ item.status }}</nz-tag
                >
              </td>
              <td>{{ item.vin }}</td>
              <td>{{ item.model }}</td>
              <td>
                <a (click)="handleViewTicket(item)">View</a>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </nz-col>
  </nz-row>
</div>
<ng-template #submitTicketModal>
  <app-ticketing></app-ticketing>
</ng-template>
<ng-template #viewTicketModal>
  <app-ticket-viewer [ticket]="selectedTicket"></app-ticket-viewer>
</ng-template>
<ng-template #loadingIndicator>
  <span style="position: relative; top: 4.5vh; font-size: xxx-large;" nz-icon nzType="loading"></span>
</ng-template>
