<h2 *ngIf="userSession">Welcome, {{ userSession.name }}</h2>
  <div class="dashboard-home">
    <nz-row class="__first-row">
      <nz-col class="open-orders" nzSpan="24" nzLg="16">
        <swp-table-card
          [rules]="userSession.role"
          [cardTitle]="userSession.role === userRoles.USER ? 'Open Orders' : 'Open Tickets'"
          [loadingIndicatorRef]="loadingIndicator"
          [isLoading$]="dataLoading$"
          [pageLimit]="tableLimit"
          [data$]="openOrders$"
          [noResultRef]="(dataLoading$ | async) ? null : 'No results'"
          (ticketUpdated)="handleTicketUpdated($event)"
        >
        </swp-table-card>
      </nz-col>
      <nz-col nzSpan="24" nzLg="7">
        <div class="action-controls">
          <nz-card
            (click)="handleSubmitTicketClicked()"
            class="__submit-ticket-card __control-card"
          >
            <h2 class="__content">
              Submit a Ticket<span nz-icon nzType="plus"></span>
            </h2>
          </nz-card>
          <nz-card
            routerLink="../transactions"
            class="__submit-ticket-card __control-card"
          >
            <h2 class="__content">
              View Transactions<span nz-icon nzType="unordered-list"></span>
            </h2>
          </nz-card>
          <nz-card
            routerLink="../profile"
            class="__submit-ticket-card __control-card"
          >
            <h2 class="__content">
              View Profile<span nz-icon nzType="user"></span>
            </h2>
          </nz-card>
        </div>
      </nz-col>
    </nz-row>
    <nz-row class="__second-row">
      <nz-col nzSpan="24">
        <swp-table-card
          [rules]="userSession.role"
          [cardTitle]="userSession.role === userRoles.USER ? 'Recent Orders' : 'Recent Tickets'"
          [loadingIndicatorRef]="loadingIndicator"
          [isLoading$]="dataLoading$"
          [pageLimit]="tableLimit"
          [data$]="recentOrders$"
          [noResultRef]="(dataLoading$ | async) ? null : 'No results'"
          (ticketUpdated)="handleTicketUpdated($event)"
        >
        </swp-table-card>
      </nz-col>
    </nz-row>
  </div>
<ng-template #submitTicketModal>
  <swp-ticketing (ticketSubmitted)="loadData()"></swp-ticketing>
</ng-template>
<ng-template #loadingIndicator>
  <span
    nz-icon
    nzType="loading"
    nzTheme="outline"
    style="font-size: 3rem"
  ></span>
</ng-template>
