.contact-container {
  padding: 3rem;

  .contact-form {
    padding: 0.75rem;

    ::ng-deep .ant-col-sm-14 {
      max-width: 100%;
    }

    h1, p {
      margin-bottom: 1.5rem;
    }
  }

  .contact-info-container {
    padding: 0.75rem;

    h1, p {
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 992px) {
  .contact-container {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .contact-container {
    padding: 1rem;
  }
}
