.option-card.selected {
  outline: 2px solid blue;
  outline-offset: -2px;
}

.slide-heading {
  text-align: center;
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 10px;
}

.slide-heading span {
  font-size: 16px;
  color: #1890ff;
}

.slide-heading h1 {
  font-size: 24px;
  margin: 10px 0;
}

.slide-heading h4 {
  font-size: 18px;
  color: #333;
}

::ng-deep {
  .ant-steps-icon {
    top: 0.25rem !important;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
  }

  .ant-form-item {
    margin-bottom: 0;
    nz-form-control {
      p {
        margin-bottom: 0.5rem;
      }
      margin-top: 1rem;
    }
  }
}
