<!-- Layout -->
<div class="flex flex-col items-center h-auto">
  <!-- Row -->
  <div class="flex justify-center w-full">
    <!-- Column -->
    <div class="w-full min-w-full">
      <div class="container p-4">
        <!-- Progress -->
        <div class="relative">
          <nz-progress
            class="absolute top-1 inset-0 z-0 max-w-[98%]"
            [nzShowInfo]="false"
            [nzPercent]="steps[currentStep - 1].percentage"
          ></nz-progress>
          <!-- Steps -->
          <nz-steps
            class="z-10"
            [nzStatus]="paymentSuccess ? 'finish' : 'process'"
            [nzCurrent]="currentStep - 1"
          >
            <nz-step></nz-step>
            <nz-step></nz-step>
            <nz-step></nz-step>
            <nz-step></nz-step>
            <nz-step></nz-step>
            <nz-step></nz-step>
          </nz-steps>
        </div>

        <!-- Form -->
        <nz-form class="h-screen" [formGroup]="forms">
          <div
            class="mt-4 border-dashed border rounded bg-gray-50 text-center py-1 overflow-y-scroll h-[60vh] max-h-[60vh]"
          >
            <!-- Step 1 Content -->
            <div
              class="w-full px-8"
              formGroupName="step1"
              *ngIf="currentStep === 1"
            >
              <div class="slide-heading">
                <span>Choose your plan</span>
                <h1>What Plan Do You Need?</h1>
              </div>
              <swp-plan-selector
                (planSelected)="handlePlanSelected($event)"
              ></swp-plan-selector>
            </div>
            <!-- Step 2 Content -->
            <div
              class="w-full px-8"
              formGroupName="step2"
              *ngIf="currentStep === 2"
            >
              <div class="slide-heading">
                <span>Vehicle Details</span>
                <h1>Let's Get Started</h1>
                <h4>Please fill in the details below to get started.</h4>
              </div>
              <div>
                <div>
                  <swp-vehicle-details
                    (vehicleDetailsOutput)="handleVehicleDetails($event)"
                  ></swp-vehicle-details>
                </div>
              </div>
            </div>
            <!-- Step 3 Content -->
            <div
              class="w-full px-8"
              formGroupName="step3"
              *ngIf="currentStep === 3"
            >
              <div class="slide-heading">
                <span>Vehicle Details</span>
                <h1>Upload Documents</h1>
                <h4>
                  Please attach relevant images of the damage as well as the
                  original estimate to be supplemented if applicable.
                </h4>
              </div>
              <swp-upload-documents
                (filesUploaded)="handleFiles($event)"
              ></swp-upload-documents>
            </div>

            <!-- Step 4 Content -->
            <div
            class="w-full px-8"
            formGroupName="step4"
            *ngIf="currentStep === 4">
              <div class="slide-heading mb-4">
                <span class="block text-gray-500">Vehicle Details</span>
                <h1 class="text-2xl font-semibold">A Few More Steps</h1>
                <h4 class="text-lg text-gray-400">
                  Just a few more details about your vehicle are needed...
                </h4>
              </div>
              <swp-vehicle-details-damage
                (additionalDetailsOutput)="handleVehicleDetailsDamage($event)"
              ></swp-vehicle-details-damage>
            </div>
            <!-- Step 5 Content -->
            <div
              class="w-full px-8"
              formGroupName="step5"
              *ngIf="currentStep === 5"
            >
              <div class="slide-heading">
                <span>Review</span>
                <h1>Review your Order</h1>
                <h4>
                  Please review your order details below before proceeding.
                </h4>
              </div>
              <swp-review-order
              [formValues]="formValues"
              (addVehicle)="handleAddVehicle()">
            </swp-review-order>
            </div>

            <!-- Step 6 Content -->
            <div
              class="w-full px-8"
              formGroupName="step6"
              *ngIf="currentStep === 6"
            >
              <div
                class="slide-heading"
                *ngIf="!paymentSuccess;"
              >
                <span>Payment</span>
                <h1>Submit Order</h1>
                <h4>Please proceed through checkout to submit your order.</h4>
              </div>
              <swp-payment [ticketsInOrder]="ticketsInOrder" (paymentStatus)="handlePaymentStatusChange($event)" >

              </swp-payment>
            </div>
          </div>
          <!-- Steps Action -->
          <div class="mt-4 flex justify-between mb-4">
            <swp-button
              content="Previous"
              [disabled]="currentStep === 1 || paymentSuccess"
              nz-button
              (click)="prevStep()"
            ></swp-button>
            <swp-button
              content="Next"
              [disabled]="!isStepValid() || paymentSuccess || currentStep === 6"
              nz-button
              (click)="nextStep()"
            ></swp-button>
          </div>
        </nz-form>
      </div>
    </div>
  </div>
</div>
