<nz-layout class="ticketing-wrapper">
  <nz-row nzJustify="center">
    <div
      nz-col
      style="min-width: 100%"
      nzXs="20"
      nzSm="20"
      nzMd="16"
      nzLg="12"
      nzXl="8"
      nzXXl="4"
    >
      <div class="container">
        <nz-progress
          class=""
          [nzShowInfo]="false"
          [nzPercent]="steps[currentStep - 1].percentage"
        ></nz-progress>
        <nz-steps
          [nzStatus]="paymentSuccess ? 'finish' : 'process'"
          [nzCurrent]="currentStep - 1"
        >
          <nz-step></nz-step>
          <nz-step></nz-step>
          <nz-step></nz-step>
          <nz-step></nz-step>
          <nz-step></nz-step>
          <nz-step></nz-step>
        </nz-steps>

        <nz-form style="height: 100vh" [formGroup]="forms">
          <div class="steps-content">
            <div
              class="step-content-wrapper"
              formGroupName="step1"
              *ngIf="currentStep === 1"
            >
              <span>Choose your plan</span>
              <h1>What Plan Do You Need?</h1>
              <nz-form-item>
                <nz-radio-group
                  nz-input
                  formControlName="plan"
                  class="plan-group"
                >
                  <nz-row nzJustify="center" nzAlign="middle">
                      <label nz-radio [nzValue]="plans[0]" class="plan-option">
                        <img
                        [src]="plans[0].image"
                        class="plan-image"
                        />
                        <div class="plan-description">
                          {{ plans[0].description }}
                        </div>
                      </label>
                      </nz-row>
                      <nz-row nzJustify="center" nzAlign="middle">
                      <label nz-radio [nzValue]="plans[1]" class="plan-option">
                        <img
                          [src]="plans[1].image"
                          class="plan-image"
                        />
                        <div class="plan-description">
                          {{ plans[1].description }}
                        </div>
                      </label>
                      </nz-row>
                </nz-radio-group>
              </nz-form-item>
            </div>

            <div
              class="step-content-wrapper"
              formGroupName="step2"
              *ngIf="currentStep === 2"
            >
              <div class="step-content-header">
                <span>Vehicle Details</span>
                <h1>Let's Get Started</h1>
                <h4>Please fill in the details below to get started.</h4>
              </div>
              <div class="form-wrapper">
                <div class="form-inner">

                  <nz-form-item>
                    <nz-form-control>
                      <p>Please Select Your Insurance From The List</p>
                      <input nz-input
                        placeholder="eg: State Farm"
                        formControlName="insurance"
                        type="text"
                        [nzAutocomplete]="auto"

                      />
                    <nz-autocomplete [nzDataSource]="insuranceList" nzBackfill #auto></nz-autocomplete>
                      <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control>
                      <p>
                        Please Enter The Vehicle Identification Number (V.I.N)
                      </p>
                      <input
                        (keydown)="onVinKeydown($event)"
                        nz-input
                        placeholder="eg: 2JK42JK57KFW9"
                        formControlName="vin"
                        type="text"
                      />
                      <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control>
                      <p>Please Enter The Vehicle Mileage</p>
                      <input nz-input
                        [(ngModel)]="vehicleMileage"
                        (input)="numberFormatter(vehicleMileage)"
                        placeholder="eg: 100,000"
                        formControlName="mileage"
                        type="text"
                      />
                      <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control>
                      <p>Please Enter The Vehicle Year</p>
                      <input
                        nz-input
                        placeholder="eg: 2001"
                        formControlName="year"
                        type="text"
                      />
                      <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control>
                      <p>Please Enter The Vehicle Make</p>
                      <input
                        nz-input
                        placeholder="eg: FORD"
                        formControlName="make"
                        type="text"
                      />
                      <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                    <nz-form-control>
                      <p>Please Enter The Vehicle Model</p>
                      <input
                        nz-input
                        placeholder="eg: MUSTANG"
                        formControlName="model"
                        type="text"
                      />
                      <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>
            <div
              class="step-content-wrapper"
              formGroupName="step3"
              *ngIf="currentStep === 3"
            >
              <div class="step-content-header">
                <span>Vehicle Details</span>
                <h1>Upload Images</h1>
                <h4>Please attach images of the damage to the vehicle.</h4>
              </div>
              <div class="form-wrapper">
                <div class="form-inner">
                  <nz-form-item>
                    <nz-form-control>
                      <nz-upload
                        formControlName="imageUpload"
                        ngDefaultControl
                        nzType="drag"
                        [nzMultiple]="true"
                        (nzChange)="handleChange($event)"
                        [nzCustomRequest]="customReq"
                        [nzListType]="'picture'"
                        [nzFileList]="selectedFiles"
                        [nzRemove]="handleImageRemove"
                      >
                        <p class="ant-upload-drag-icon">
                          <span nz-icon nzType="inbox"></span>
                        </p>
                        <p class="ant-upload-text">
                          Click or drag file to this area to upload
                        </p>
                        <p class="ant-upload-hint">
                          Support for a single or bulk upload. Strictly prohibit
                          from uploading company data or other band files
                        </p>
                      </nz-upload>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>

            <div
              class="step-content-wrapper"
              formGroupName="step4"
              *ngIf="currentStep === 4"
            >
              <div class="step-content-header">
                <span>Vehicle Details</span>
                <h1>A Few More Steps</h1>
                <h4>
                  Just a few more details about your vehicle are needed...
                </h4>
              </div>
              <div class="form-wrapper">
                <div class="form-inner">
                  <nz-form-item>
                    <nz-form-control>
                      <p>Please Describe The Vehicle's Damage</p>
                      <textarea
                        nz-input
                        formControlName="damage"
                        type="text"
                      ></textarea>
                      <!-- <nz-form-explain *ngIf="forms.get('step2.address').invalid && forms.get('step2.address').touched">
                                          Please enter a valid address.
                                      </nz-form-explain> -->
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
            </div>

            <div
              class="step-content-wrapper"
              formGroupName="step5"
              *ngIf="currentStep === 5"
            >
              <div class="step-content-header">
                <span>Review</span>
                <h1>Review your Order</h1>
                <h4>
                  Please review your order details below before proceeding.
                </h4>
              </div>
              <div class="form-wrapper">
                <div class="form-inner">
                  <nz-collapse class="review-form" nzGhost>
                    <nz-collapse-panel
                      *ngFor="let panel of panels"
                      [nzHeader]="panel.name"
                      [nzActive]="panel.active"
                      [nzDisabled]="panel.disabled"
                    >
                      <div *ngIf="panel.id === 1">
                        <nz-card
                          [nzTitle]="formValues.step1.plan.name"
                          [nzExtra]=" '$' + formValues?.step1?.plan?.cost"
                        >
                          <p>{{ formValues?.step1?.plan?.description }}</p>
                        </nz-card>
                      </div>
                      <div *ngIf="panel.id === 2">
                        <nz-card [nzTitle]="'Vehicle Details'">
                          <p>Vin: {{ formValues.step2.vin }}</p>
                          <p>Year: {{ formValues.step2.year }}</p>
                          <p>Make: {{ formValues.step2.make }}</p>
                          <p>Model: {{ formValues.step2.model }}</p>
                          <p>Mileage: {{ formValues.step2.mileage }}</p>
                        </nz-card>
                      </div>
                      <div *ngIf="panel.id === 3">
                        <nz-card [nzTitle]="'Vehicle Damage'">
                          <p>{{ formValues.step4.damage }}</p>
                        </nz-card>
                      </div>
                      <div *ngIf="panel.id === 4">
                        <nz-card [nzTitle]="'Uploaded Images'">
                          <div>
                            <nz-image-group>
                              <img
                                nz-image
                                class="review-form__img"
                                *ngFor="let img of formValues.step3.imageUpload"
                                nzSrc="{{ img }}"
                              />
                            </nz-image-group>
                          </div>
                        </nz-card>
                      </div>
                    </nz-collapse-panel>
                  </nz-collapse>
                  <div style="margin-top:3rem;">
                    <span>Want to add another vehicle to your order?</span><br>
                    <button style="padding-top:5px;" nz-button (click)="addAdditionalVehicle()">Add Vehicle</button>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="step-content-wrapper"
              formGroupName="step6"
              *ngIf="currentStep === 6"
            >
              <div
                *ngIf="!paymentSuccess; else paymentTemplate"
                class="step-content-header"
              >
                <span>Payment</span>
                <h1>Submit Order</h1>
                <h4>Please proceed through checkout to submit your order.</h4>
              </div>
              <ng-container>
                <ng-template #paymentTemplate>
                  <div class="step-content-header">
                    <span>Payment</span>
                    <h1>Payment Successful</h1>
                    <h4>
                      Your order has been submitted. View recent orders in your
                      <a [routerLink]="['/dashboard']">Dashboard</a>
                    </h4>
                  </div>
                </ng-template>
              </ng-container>
              <div class="form-wrapper">
                <div class="form-inner">
                  <div *ngIf="paymentSuccess" class="success-icon">
                    <span
                    class="success-circle"
                    nz-icon
                    [nzType]="'check-circle'"
                    [nzTheme]="'twotone'"
                    [nzTwotoneColor]="'#52c41a'"
                  ></span>
                  </div>
                  <app-spinner
                    name="payment-spinner"
                    [fullscreen]="false"
                    class="payment-spinner"
                  ></app-spinner>
                  <form
                    *ngIf="!paymentSuccess"
                    [ngClass]="{
                      loading: (formLoaded$ | async) === false,
                      loaded: (formLoaded$ | async)
                    }"
                    id="payment-form"
                  >
                    <div id="link-authentication-element">
                      <!--Stripe.js injects the Link Authentication Element-->
                    </div>
                    <div id="payment-element">
                      <!--Stripe.js injects the Payment Element-->
                    </div>
                    <swp-button
                      *ngIf="formLoaded$ | async"
                      class="submit-payment__button"
                      id="submit"
                      [content]="'Pay Now $' + calculateOrderTotal()"
                      (click)="submitPayment()"
                    >
                    </swp-button>
                    <nz-form-control class="hidden-field">
                      <nz-form-item>
                        <label
                          [formControlName]="'paymentSuccess'"
                          [hidden]="true"
                          [nzValue]="paymentSuccess"
                          nz-radio
                          >Payment Proccessed</label
                        >
                      </nz-form-item>
                    </nz-form-control>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="steps-action">
            <swp-button
              content="Previous"
              [disabled]="currentStep === 1 || paymentSuccess"
              nz-button
              (click)="prevStep()"
            >
            </swp-button>
            <swp-button
              content="Next"
              [disabled]="!isStepValid() || paymentSuccess || currentStep === 6"
              nz-button
              (click)="nextStep()"
            >
            </swp-button>
          </div>
        </nz-form>
      </div>
    </div>
  </nz-row>
</nz-layout>
