.faq-section {
  padding: 3rem;
  h1 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 992px) {
  .faq-section {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .faq-section {
    padding: 1rem;
  }
}
