::ng-deep .layout {
  min-height: 100vh;
}

nz-content {
  margin: 24px 16px 0;
}

.inner-content {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

nz-footer {
  text-align: center;
}

::ng-deep .ticket-viewer-modal > .ant-modal-content > .ant-modal-body {
  height: 600px;
  overflow-y: scroll;
}

.dashboard-content-spinner {
  display: flex;
  justify-content: center;
  position: relative;
  top: 20vh;
}

@media (max-width: 767px) {
  ::ng-deep nz-content.ant-layout-content {
    margin: 0 !important;
  }

  .inner-content {
    padding: 25px !important;
  }
}
