.ant-btn {
  border-radius: 0;
  border: 0;
  background: white;
  color: #000;
  font-size: 4rem;
  font-weight: 600;
  height: 3rem;
  line-height: 3rem;
  width: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  &:hover {
    background: rgba(255, 255, 255, 0.625);
    color: black;
  }
  &.ant-btn-primary {
    background: #000;
    color: #fff;

    &:hover {
      background: rgba(0, 0, 0, 0.625);
      color: #fff;
    }
  }
  &.ant-btn-secondary {
    background: #255ea3;
    border-color: #0072ff;
    color: #fff;
    &:hover {
      background: #0062e6;
      border-color: #0062e6;
    }
  }
  &.ant-btn-dashed {
    background: #fff;
    border-color: #ccc;
    color: #000;
    &:hover {
      background: #ccc;
      border-color: #ccc;
    }
  }
  &.ant-btn-danger {
    background: #f5222d;
    border-color: #f5222d;
    color: #fff;
    &:hover {
      background: #f64e4e;
      border-color: #f64e4e;
    }
  }
  &.ant-btn-link {
    background: #fff;
    border-color: #fff;
    color: #000;
    &:hover {
      background: #fff;
      border-color: #fff;
    }
  }
  &.ant-btn-lg {
    width: fit-content;
    min-width: 6rem;
    font-size: 0.75rem;
  }
}

::ng-deep {
  .ant-btn {
    span {
      padding: 0.25rem;
      position: relative;
      bottom: 0.25rem;
      display: unset;
    }
  }
}
