/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";

body,
span,
a,
p {
  font-family: "Muli" !important;
  h1 {
    font-weight: 500;
  }
}

html {
  height: 100dvh;
  overflow-x: hidden !important;
}
body {
  min-height: 100dvh;
  overflow-x: hidden;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  background-color: inherit;
}

::ng-deep {
  .ant-btn-primary {
    background-color: rgb(69, 134, 239) !important;
  }
}

input,
textarea {
  width: 100%;
}
input {
  min-height: 2.5rem;
}
input:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: white !important;
  color: fieldtext !important;
}
textarea {
  min-height: 4rem;
}

.ant-modal-close-icon {
  position: relative;
  bottom: 1rem;
  left: 0.8rem;
}

@media screen and (max-width: 800px) {
  .ant-modal-body {
    padding: 0;
  }
  nz-modal-container {
    overflow-y: hidden !important;
  }
  .ant-modal {
    overflow-y: hidden !important;
    height: 100%;
    top: unset !important;

    .ant-modal-content {
      height: 100%;
      border-radius: 0;
    }
  }
}
