<form>
  <h1>Confirm your account</h1>
  <h3>
    Please enter the code that was sent to your provided email to confirm your
    account.
  </h3>
  <form nz-form [formGroup]="confirmForm" (ngSubmit)="onSubmit()">
    <nz-form-control [nzXXl]="20">
      <nz-input-group>
        <nz-form-item class="code-form-item" [nzAlign]="'middle'">
          <input
            nz-input
            formControlName="code"
            type="text"
            placeholder="Confirmation Code"
          />
        </nz-form-item>
      </nz-input-group>
    </nz-form-control>
  </form>
    <br /><br />
    <div class="control-row">
      <swp-button (click)="handleResendCode()" [content]="'Resend Code'"></swp-button>
      <swp-button type="submit" [content]="'Confirm'"></swp-button>
    </div>

</form>
