<nz-layout style="height:100%">
  <nz-content>
    <nz-row class="contact-container">
      <nz-col nzSpan="24" nzLg="10" class="contact-form">
        <h1>Get in touch</h1>
        <p>We'd love to hear from you. Send us a message and we'll respond as soon as possible.</p>
        <swp-contact-form #contactForm (formSubmit)="handleContactFormSubmit($event)"></swp-contact-form>
      </nz-col>
      <nz-col class="contact-info-container" nzSpan="24" nzLg="12">
        <swp-contact-info></swp-contact-info>
      </nz-col>
    </nz-row>
    <swp-faq-viewer></swp-faq-viewer>
  </nz-content>
</nz-layout>
